# This file is used to set up the environment variables for the application.
# Copy this file to .env and fill in the values
# For database configuration

DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=

# For contact us configuration
EMAIL_HOST=
EMAIL_NAME=
FORWARD_TO=
FORWARD_TO_NAME=
APP_SCRIPT_PASSWORD=